In [1]:
import pandas as pd

In [2]:
from pandas import read_csv

In [3]:
pcard2014 = read_csv('Analytics_mindset_case_studies_PCard_FY2014.csv', header=0, encoding = "ISO-8859-1")

In [4]:
print(pcard2014.shape)

(442458, 10)

In [5]:
pcard2014.head()

,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
0,1000,OKLAHOMA STATE UNIVERSITY,Mason,C,GENERAL PURCHASE,890.00,NACAS,7/30/2013 0:00,7/31/2013 0:00,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS
1,1000,OKLAHOMA STATE UNIVERSITY,Mason,C,ROOM CHARGES,368.96,SHERATON HOTEL,7/30/2013 0:00,7/31/2013 0:00,SHERATON
2,1000,OKLAHOMA STATE UNIVERSITY,Massey,J,GENERAL PURCHASE,165.82,SEARS.COM 9300,7/29/2013 0:00,7/31/2013 0:00,DIRCT MARKETING/DIRCT MARKETERS--NOT ELSEWHERE...
3,1000,OKLAHOMA STATE UNIVERSITY,Massey,T,GENERAL PURCHASE,96.39,WAL-MART #0137,7/30/2013 0:00,7/31/2013 0:00,"GROCERY STORES,AND SUPERMARKETS"
4,1000,OKLAHOMA STATE UNIVERSITY,Mauro-Herrera,M,HAMMERMILL COPY PLUS COPY EA,125.96,STAPLES DIRECT,7/30/2013 0:00,7/31/2013 0:00,"STATIONERY, OFFICE SUPPLIES, PRINTING AND WRIT..."

In [9]:
pcard2014.dtypes

Agency Number                     int64
Agency Name                      object
Cardholder Last Name             object
Cardholder First Initial         object
Description                      object
Amount                          float64
Vendor                           object
Transaction Date                 object
Posted Date                      object
Merchant Category Code (MCC)     object
dtype: object

In [6]:
pcard2015 = read_csv('Analytics_mindset_case_studies_PCard_FY2015.csv', header=0, encoding = "ISO-8859-1")

/var/folders/v0/hpm7rd7j4n39wr93kp2m5xwm0000gn/T/ipykernel_59817/2567903409.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  pcard2015 = read_csv('Analytics_mindset_case_studies_PCard_FY2015.csv', header=0, encoding = "ISO-8859-1")

In [7]:
pcard2015.head()

,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
0,1000,OKLAHOMA STATE UNIVERSITY,Clark,K,GENERAL PURCHASE,$88.88,Discount School Supply,7/23/2014 0:00,7/24/2014 0:00,"STATIONERY,OFFICE AND SCHOOL SUPPLY STORES"
1,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,GENERAL PURCHASE,$425.00,BROONER'S FLOOR CENTER,7/23/2014 0:00,7/24/2014 0:00,"FLOOR COVERING,RUG AND CARPET STORES"
2,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,NEWS ADV./SUBSC. EACH,$141.50,820 NEWS PRESS,7/23/2014 0:00,7/24/2014 0:00,CONTINUITY/SUBSCRIPTION MERCHANTS
3,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,GENERAL PURCHASE,"$2,679.99",WWW.NEWEGG.COM,7/23/2014 0:00,7/24/2014 0:00,ELECTRONICS STORES
4,1000,OKLAHOMA STATE UNIVERSITY,Clark,P,BH 3-INX7-IN SMALL BRASS B PCS|BLUE HAWK SHOE ...,$22.44,LOWES #00241,7/22/2014 0:00,7/24/2014 0:00,HOME SUPPLY WAREHOUSE STORES

In [8]:
pcard2015.dtypes

Agency Number                    int64
Agency Name                     object
Cardholder Last Name            object
Cardholder First Initial        object
Description                     object
Amount                          object
Vendor                          object
Transaction Date                object
Posted Date                     object
Merchant Category Code (MCC)    object
dtype: object